07_Transfer_Learning/2_T-SNE/image/black_white/흑백.jpg
07_Transfer_Learning/2_T-SNE/image/dark/어두움.jpg
07_Transfer_Learning/2_T-SNE/image/dark/어두움1.jpeg
07_Transfer_Learning/2_T-SNE/image/else/ ビール アニメ_43.png
07_Transfer_Learning/2_T-SNE/image/else/.jpgコンビニ　アニメ_0
07_Transfer_Learning/2_T-SNE/image/else/.jpgコンビニ　アニメ_28
07_Transfer_Learning/2_T-SNE/image/else/.jpgコンビニ　アニメ_34
07_Transfer_Learning/2_T-SNE/image/else/.jpgコンビニ　アニメ_36
07_Transfer_Learning/2_T-SNE/image/else/.jpgコンビニ　アニメ_38
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_10.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_13.png
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_15.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_18.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_21.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_24.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_25.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_26.png
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_27.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_3.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_5.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_6.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_7.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_8.jpg
07_Transfer_Learning/2_T-SNE/image/else/コンビニ　アニメ_9.jpg
07_Transfer_Learning/2_T-SNE/image/else/食べ物 アニメ_1.png
07_Transfer_Learning/2_T-SNE/image/else/食べ物 アニメ_232.png
07_Transfer_Learning/2_T-SNE/image/else/食べ物 アニメ_440.png
07_Transfer_Learning/2_T-SNE/image/else/食べ物 アニメ_560.jpg
07_Transfer_Learning/2_T-SNE/image/else/食べ物 アニメ_735.jpg
07_Transfer_Learning/2_T-SNE/image/fluorescence /형광빛.jpg
07_Transfer_Learning/2_T-SNE/image/high_contrast/대비 높음.jpg
07_Transfer_Learning/2_T-SNE/image/high_contrast/대비 높음1.png
07_Transfer_Learning/2_T-SNE/image/light/밝음.jpg
07_Transfer_Learning/2_T-SNE/image/light/밝음1.jpg
07_Transfer_Learning/2_T-SNE/image/light/밝음2.png
07_Transfer_Learning/2_T-SNE/image/light_normal/밝기 보통.jpg
07_Transfer_Learning/2_T-SNE/image/low_contrast/대비낮음.jpg
07_Transfer_Learning/2_T-SNE/image/pastel/파스텔.jpg
07_Transfer_Learning/2_T-SNE/image/pastel/파스텔1.jpeg
07_Transfer_Learning/2_T-SNE/image/plain/수수함.jpg
07_Transfer_Learning/2_T-SNE/image/primary_color/원색.jpg
07_Transfer_Learning/2_T-SNE/image/primary_color/원색1.jpg
07_Transfer_Learning/2_T-SNE/image/primary_color/원색2.jpeg
07_Transfer_Learning/2_T-SNE/image/splendid/화려함.jpg
